In [32]:
# 导入需要的包
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 进行列宽的设置
pd.set_option("display.max_colwidth", 1000)

# 1 导入数据并查看基本信息

In [38]:
# 1 导入数据
data = pd.read_csv(
    "../Datasets/exercise_data/chipotle.tsv",
    sep="\t",
)

# 查看缺失值情况，以及数据的基本信息
display(data.info())
display(
    "=========================================================================================================="
)

# 查看数据的前5行
display(data.head(5))
display(
    "=========================================================================================================="
)

# 查看列名
print("列名：")
print(data.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

None

'=========================================================================================================='

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98

'=========================================================================================================='

列名：
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

# 2 根据需求进行搜索

## 2.1 下单数最多的商品是什么？

- 先对所有商品根据 item_name 进行分组，然后对 quantity 进行求和

- 最后对 quantity 进行降序排序，或者直接条件索引最大值

In [69]:
# 根据“item_name”列，对数据进行分组，并对“quantity”列求和
grouped = data.groupby("item_name", as_index=False)
quantity_sum = grouped["quantity"].sum()
print("销量汇总：")
display(quantity_sum.head())
display(
    "=========================================================================================================="
)

# 直接条件索引
print("销冠：")
display(quantity_sum.loc[quantity_sum["quantity"] == quantity_sum["quantity"].max()])
display(
    "=========================================================================================================="
)


# 或者使用sort_values()方法
print("销售总榜：")
sorted_quantity_sum = quantity_sum.sort_values(by="quantity", ascending=False)  # type: ignore
display(sorted_quantity_sum.head())
display(
    "=========================================================================================================="
)
print("销冠：", sorted_quantity_sum.iloc[0]["item_name"])

销量汇总：

               item_name  quantity
0      6 Pack Soft Drink        55
1          Barbacoa Bowl        66
2       Barbacoa Burrito        91
3  Barbacoa Crispy Tacos        12
4    Barbacoa Salad Bowl        10

'=========================================================================================================='

销冠：

       item_name  quantity
17  Chicken Bowl       761

'=========================================================================================================='

销售总榜：

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

'=========================================================================================================='

销冠： Chicken Bowl

## 2.2 一共有多少种商品被下单？

查看 Series 或者 Dataframe 不同的数据数量，使用 unique() 或者 nunique() 方法

In [70]:
# 直接使用 pandas 的 nunique() 方法
print("商品种类：")
print(data["item_name"].nunique())

商品种类：
50

## 2.3 choice_description 中哪些选项出现的次数最多？

value_counts() 方法可以对 Series 或者 Dataframe 中的数据进行频次计数统计并排序

In [73]:
display(data.value_counts("choice_description").head(5))

choice_description
[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: count, dtype: int64

## 2.4 将 price 一列从字符串格式转换为浮点数

使用 str.strip() 方法去除字符串中的 $ 符号，然后使用 astype() 方法转换为浮点数

In [80]:
data_copy = data.copy()
data_copy["item_price"] = data["item_price"].str.strip("$").astype(float)
display(data_copy.head(5))

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",16.98