In [113]:
# 导入需要的包
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 进行列宽的设置
pd.set_option("display.max_colwidth", 1000)

# 1 导入数据并查看基本信息

In [114]:
# 1 导入数据
data = pd.read_csv(
    "../Datasets/exercise_data/chipotle.tsv",
    sep="\t",
)

# 查看缺失值情况，以及数据的基本信息
display(data.info())
display(
    "=========================================================================================================="
)

# 查看数据的前5行
display(data.head(5))
display(
    "=========================================================================================================="
)

# 查看列名
print("列名：")
print(data.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

None

'=========================================================================================================='

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98

'=========================================================================================================='

列名：
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

# 2 根据需求进行搜索

## 2.1 下单数最多的商品是什么？

- 先对所有商品根据 item_name 进行分组，然后对 quantity 进行求和

- 最后对 quantity 进行降序排序，或者直接条件索引最大值

In [115]:
# 根据“item_name”列，对数据进行分组，并对“quantity”列求和
grouped = data.groupby("item_name", as_index=False)
quantity_sum = grouped["quantity"].sum()
print("销量汇总：")
display(quantity_sum.head())
display(
    "=========================================================================================================="
)

# 直接条件索引
print("销冠：")
display(quantity_sum.loc[quantity_sum["quantity"] == quantity_sum["quantity"].max()])
display(
    "=========================================================================================================="
)


# 或者使用sort_values()方法
print("销售总榜：")
sorted_quantity_sum = quantity_sum.sort_values(by="quantity", ascending=False)  # type: ignore
display(sorted_quantity_sum.head())
display(
    "=========================================================================================================="
)
print("销冠：", sorted_quantity_sum.iloc[0]["item_name"])

销量汇总：

               item_name  quantity
0      6 Pack Soft Drink        55
1          Barbacoa Bowl        66
2       Barbacoa Burrito        91
3  Barbacoa Crispy Tacos        12
4    Barbacoa Salad Bowl        10

'=========================================================================================================='

销冠：

       item_name  quantity
17  Chicken Bowl       761

'=========================================================================================================='

销售总榜：

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

'=========================================================================================================='

销冠： Chicken Bowl

## 2.2 一共有多少种商品被下单？

查看 Series 或者 Dataframe 不同的数据数量，使用 unique() 或者 nunique() 方法

In [116]:
# 直接使用 pandas 的 nunique() 方法
print("商品种类：")
print(data["item_name"].nunique())

商品种类：
50

## 2.3 choice_description 中哪些选项出现的次数最多？

value_counts() 方法可以对 Series 或者 Dataframe 中的数据进行频次计数统计并排序

In [117]:
display(data.value_counts("choice_description").head(5))

choice_description
[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: count, dtype: int64

## 2.4 将 price 一列从字符串格式转换为浮点数

使用 str.strip() 方法去除字符串中的 $ 符号，然后使用 astype() 方法转换为浮点数

In [118]:
data_copy = data.copy()
data_copy["item_price"] = data["item_price"].str.strip("$").astype(float)
display(data_copy.head(10))

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Cheese, Sour Cream, Lettuce]]",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]",9.25

## 2.5 一共有多少个订单？

In [119]:
print("订单总数：")
display(data["order_id"].nunique())

订单总数：

1834

## 2.6 订单的平均总价是多少？

先按照 order_id 进行分组，然后对 item_price 进行 quantity 加权求和，最后对 order_id 求均值

In [120]:
# 先按照 order_id 进行分组
grouped_by_order_id = data_copy.groupby(by="order_id", as_index=False)
display(grouped_by_order_id.groups)


# 自定义一个函数，用于计算每个订单的总价
def sum_order_price(group):
    return (group["item_price"] * group["quantity"]).sum()


# 对分组后的数据进行聚合操作
order_price = grouped_by_order_id.apply(sum_order_price)
order_price.columns = ["order_id", "sub_total_price"]

print("每一笔订单总价：")
display(order_price.head(5))
print(
    "=========================================================================================================="
)

# 求均值
result = order_price["sub_total_price"].mean()
print("每笔订单平均总价：{:.2f}".format(result))

{1: [0, 1, 2, 3], 2: [4], 3: [5, 6], 4: [7, 8], 5: [9, 10], 6: [11, 12], 7: [13, 14], 8: [15, 16], 9: [17, 18], 10: [19, 20], 11: [21, 22], 12: [23, 24], 13: [25, 26], 14: [27, 28], 15: [29, 30], 16: [31, 32], 17: [33, 34], 18: [35, 36, 37, 38], 19: [39, 40], 20: [41, 42, 43, 44], 21: [45, 46, 47], 22: [48, 49], 23: [50, 51], 24: [52, 53], 25: [54, 55], 26: [56, 57], 27: [58, 59], 28: [60, 61, 62, 63], 29: [64, 65], 30: [66, 67, 68], 31: [69, 70], 32: [71, 72], 33: [73, 74], 34: [75, 76, 77, 78], 35: [79, 80], 36: [81, 82], 37: [83, 84], 38: [85, 86, 87], 39: [88, 89], 40: [90, 91, 92], 41: [93, 94], 42: [95, 96], 43: [97, 98], 44: [99, 100], 45: [101, 102, 103], 46: [104, 105], 47: [106, 107], 48: [108, 109], 49: [110, 111, 112], 50: [113, 114], 51: [115, 116, 117], 52: [118, 119], 53: [120, 121, 122], 54: [123, 124], 55: [125, 126], 56: [127, 128, 129], 57: [130, 131], 58: [132, 133], 59: [134], 60: [135], 61: [136, 137], 62: [138, 139], 63: [140, 141], 64: [142, 143], 65: [144, 145, 146], 66: [147], 67: [148, 149], 68: [150, 151], 69: [152, 153], 70: [154, 155], 71: [156, 157, 158], 72: [159], 73: [160, 161, 162], 74: [163, 164, 165], 75: [166, 167, 168, 169], 76: [170, 171], 77: [172, 173], 78: [174, 175], 79: [176], 80: [177], 81: [178, 179, 180], 82: [181, 182, 183], 83: [184, 185, 186], 84: [187, 188, 189], 85: [190, 191], 86: [192, 193, 194], 87: [195, 196], 88: [197, 198], 89: [199, 200, 201], 90: [202, 203], 91: [204, 205], 92: [206, 207, 208], 93: [209, 210, 211, 212], 94: [213], 95: [214, 215], 96: [216, 217, 218], 97: [219, 220, 221], 98: [222, 223, 224], 99: [225, 226], 100: [227, 228], ...}

每一笔订单总价：

   order_id  sub_total_price
0         1            11.56
1         2            33.96
2         3            12.67
3         4            21.00
4         5            13.70

==========================================================================================================
每笔订单平均总价：21.39