In [160]:
import numpy as np
import pandas as pd

# 1 读取文件

`pd.read_csv("path/to/your/csv/file", header = 0, names = [], index_col = None,`

                `encoding = "utf-8", sep = ",", dtype = {},`

                `skiprows = [], nrows = [], usecols = [], na_values = [],`

                `parse_dates = [], date_parser = lambda x: datetime.datetime.strptime(x, format = "%Y-%m-%d %H:%M:%S")`

                `iterator = False, chunksize = None)`

- 读取 csv 文件，默认第一行为列名，如果没有列名，可以通过 `names` 参数指定列名

- 如果同时指定了 `header` 和 `names` ，则表中内容为 `header` 之后的所有行，但是表头的列名不再是 `header` ，而是由 `names` 覆盖

- `index_col` 指定某一列为索引列

- `encoding` 指定编码格式

- `sep` 指定分隔符

- `dtype` 指定每一列的数据类型

- `skiprows` 指定跳过的行数, 可以是整数或者列表，也可以是 lambda 函数

- `nrows` 指定读取的行数, 数据类型同上

- `usecols` 指定读取的列数, 数据类型同上

- `na_values` 指定哪些数据要更改为缺失值

- `parse_dates` 指定哪些列需要转换为日期格式

- `date_parser` 指定日期格式

- `iterator` 用来分块读入大文件

- `chunksize` 指定每次迭代的行数

In [161]:
iris = pd.read_csv("/Users/zhaohaonan/北大资料/Coding/MachineLearning/Datasets/Iris.csv")
print(iris.head(2))
print("=========================================")

iris_1 = pd.read_csv(
    "/Users/zhaohaonan/北大资料/Coding/MachineLearning/Datasets/Iris.csv", header=1
)
print(iris_1.head(2))
print("=========================================")

iris_2 = pd.read_csv(
    "/Users/zhaohaonan/北大资料/Coding/MachineLearning/Datasets/Iris.csv",
    names=["a", "b", "c", "d", "e"],
)
print(iris_2.head(2))
print("=========================================")

iris_3 = pd.read_csv(
    "/Users/zhaohaonan/北大资料/Coding/MachineLearning/Datasets/Iris.csv",
    index_col="Species",
)
print(iris_3.head(2))
print("=========================================")

iris_4 = pd.read_csv(
    "/Users/zhaohaonan/北大资料/Coding/MachineLearning/Datasets/Iris.csv",
    header=1,
    names=["a", "b", "c", "d", "e"],
)
print(iris_4.head(2))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
=========================================
   1  5.1  3.5  1.4  0.2  Iris-setosa
0  2  4.9  3.0  1.4  0.2  Iris-setosa
1  3  4.7  3.2  1.3  0.2  Iris-setosa
=========================================
                a             b              c             d            e
Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1             5.1           3.5            1.4           0.2  Iris-setosa
=========================================
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa   1            5.1           3.5            1.4           0.2
Iris-setosa   2            4.9           3.0            1.4           0.2
=========================================
     a    b    c    d            e
2  4.9  3.0  1.4  0.2  Iris-setosa
3  4.7  3.2  1.3  0.2  Iris-setosa

## 分块读取数据

In [162]:
iris_chunk = pd.read_csv(
    "/Users/zhaohaonan/北大资料/Coding/MachineLearning/Datasets/Iris.csv",
    iterator=True,
    chunksize=10,
)
print("iris_chunk 数据类型：", type(iris_chunk))
print("===============================================================")

# 默认一组是 chunksize=10 个
print(iris_chunk.get_chunk())
print("===============================================================")

print(iris_chunk.get_chunk(5))

iris_chunk 数据类型： <class 'pandas.io.parsers.readers.TextFileReader'>
===============================================================
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa
===============================================================
    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa

## 读取时间序列相关文件

In [163]:
df = pd.read_csv(
    "/Users/zhaohaonan/北大资料/Coding/MachineLearning/Datasets/birthday.csv",
    index_col="Birthday",
)
print(df)
print("=========================================")

# 将日期格式转换为 pandas 的日期格式
print("转换日期格式")
df.index = pd.to_datetime(df.index)
print(df)
print("=========================================")

# 然后就可以直接对日期进行排序和索引了
print("日期升序排序")
df.sort_index(axis=0, inplace=True)
print(df)
print("=========================================")

print("日期索引")
print(df.loc["2001-09"])

           Name  Class
Birthday
07/09/2011    A      2
09/12/2001    B      3
09/11/1998    C      3
09/06/2001    D      4
04/08/1999    E      1
=========================================
转换日期格式
           Name  Class
Birthday
2011-07-09    A      2
2001-09-12    B      3
1998-09-11    C      3
2001-09-06    D      4
1999-04-08    E      1
=========================================
日期升序排序
           Name  Class
Birthday
1998-09-11    C      3
1999-04-08    E      1
2001-09-06    D      4
2001-09-12    B      3
2011-07-09    A      2
=========================================
日期索引
           Name  Class
Birthday
2001-09-06    D      4
2001-09-12    B      3

# 2 缺失值处理

In [164]:
age = pd.Series([20, 30], index=["B", "C"], dtype=np.int64)
salary = pd.Series([1000, 2000, 3000], index=["A", "B", "C"])
gender = pd.Series(["Male", "Female", "Male"], index=["A", "B", "D"])
data = {"Age": age, "Gender": gender, "Salary": salary}
df = pd.DataFrame(data)
print(df)

    Age  Gender  Salary
A   NaN    Male  1000.0
B  20.0  Female  2000.0
C  30.0     NaN  3000.0
D   NaN    Male     NaN

## 2.1 查看缺失值

- `df.isnull()` 查看缺失值
- `df.isnull().any(axis=0/1)` 查看每列/行是否有缺失值
- `df.isnull().sum()` 查看每列缺失值数量
- `df.isnull().sum().sum()` 查看所有缺失值数量
- `df.info()` 查看每列缺失值数量

In [165]:
print(df.isnull().sum())
print("===========")
print(df.isnull().any())
print("===========")
print(df.isnull().any(axis=1))
print("===========")
print(df.info())

Age       2
Gender    1
Salary    1
dtype: int64
===========
Age       True
Gender    True
Salary    True
dtype: bool
===========
A     True
B    False
C     True
D     True
dtype: bool
===========
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, A to D
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     2 non-null      float64
 1   Gender  3 non-null      object
 2   Salary  3 non-null      float64
dtypes: float64(2), object(1)
memory usage: 128.0+ bytes
None

## 2.2 删除缺失值

`df.dropna(axis=0/1, how='any/all', thresh=None, subset=None, inplace=True)`

- axis: 0-行操作（删除行），1-列操作（删除列）
- how: any-只要有缺失值出现就删除，all-全部缺失值才删除
- thresh: int-至少需要非 NaN 的数据个数
- subset: list-指定列
- inplace: bool-是否替换原数据

In [166]:
print(df)
print("======================")

# 删除至少一个缺失值的行
print("删除至少一个缺失值的行")
df1 = df.dropna(axis=0, how="any")
print(df1)
print("======================")

# 删除至少一个缺失值的列
print("删除至少一个缺失值的列")
df2 = df.dropna(axis=1, how="any")
print(df2)
print("======================")

# 删除所有值都缺失的行
print("删除所有值都缺失的行")
df3 = df.dropna(axis=0, how="all")
print(df3)
print("======================")

# 删除所有值都缺失的列
print("删除所有值都缺失的列")
df4 = df.dropna(axis=1, how="all")
print(df4)
print("======================")

# 删除指定列中缺失值的行
print("删除指定列中缺失值的行")
df5 = df.dropna(axis=0, how="any", subset=["Age", "Salary"])
print(df5)
print("======================")

# 指定最少非缺失值个数
print("指定最少非缺失值个数")
df7 = df.dropna(axis=0, thresh=2)
print(df7)
print("======================")

    Age  Gender  Salary
A   NaN    Male  1000.0
B  20.0  Female  2000.0
C  30.0     NaN  3000.0
D   NaN    Male     NaN
======================
删除至少一个缺失值的行
    Age  Gender  Salary
B  20.0  Female  2000.0
======================
删除至少一个缺失值的列
Empty DataFrame
Columns: []
Index: [A, B, C, D]
======================
删除所有值都缺失的行
    Age  Gender  Salary
A   NaN    Male  1000.0
B  20.0  Female  2000.0
C  30.0     NaN  3000.0
D   NaN    Male     NaN
======================
删除所有值都缺失的列
    Age  Gender  Salary
A   NaN    Male  1000.0
B  20.0  Female  2000.0
C  30.0     NaN  3000.0
D   NaN    Male     NaN
======================
删除指定列中缺失值的行
    Age  Gender  Salary
B  20.0  Female  2000.0
C  30.0     NaN  3000.0
======================
指定最少非缺失值个数
    Age  Gender  Salary
A   NaN    Male  1000.0
B  20.0  Female  2000.0
C  30.0     NaN  3000.0
======================

## 2.3 填充缺失值

`df.fillna(value=None, axis=None, inplace=False, limit=None, downcast=None)`

- value: 填充值
- axis: 0-按行操作，1-按列操作
- inplace: bool-是否替换原数据
- limit: int-填充个数限制
- downcast: dict-指定列的填充方式

向前向后填充

- `df.ffill(axis=0/1)`
- `df.bfill(axis=0/1)`

In [167]:
print(df)
print("======================")

# 按列向前填充
print("向前填充")
df8 = df.ffill(axis=0)
print(df8)
print("======================")

# 按行向后填充
print("向后填充")
df9 = df.bfill(axis=1)
print(df9)
print("======================")

# Age 列的均值填充
print("Age 列的均值填充")
df10 = df.fillna(value={"Age": df["Age"].mean()})
print(df10)
print("======================")

# Salary 列的中位数填充
print("Salary 列的中位数填充")
df11 = df.fillna(value={"Salary": df["Salary"].median()})
print(df11)
print("======================")

# Gender 列的众数填充
print("Gender 列的众数填充")
df12 = df.fillna(value={"Gender": df["Gender"].mode()[0]})
print(df12)
print("======================")

    Age  Gender  Salary
A   NaN    Male  1000.0
B  20.0  Female  2000.0
C  30.0     NaN  3000.0
D   NaN    Male     NaN
======================
向前填充
    Age  Gender  Salary
A   NaN    Male  1000.0
B  20.0  Female  2000.0
C  30.0  Female  3000.0
D  30.0    Male  3000.0
======================
向后填充
    Age  Gender  Salary
A  Male    Male  1000.0
B  20.0  Female  2000.0
C  30.0  3000.0  3000.0
D  Male    Male     NaN
======================
Age 列的均值填充
    Age  Gender  Salary
A  25.0    Male  1000.0
B  20.0  Female  2000.0
C  30.0     NaN  3000.0
D  25.0    Male     NaN
======================
Salary 列的中位数填充
    Age  Gender  Salary
A   NaN    Male  1000.0
B  20.0  Female  2000.0
C  30.0     NaN  3000.0
D   NaN    Male  2000.0
======================
Gender 列的众数填充
    Age  Gender  Salary
A   NaN    Male  1000.0
B  20.0  Female  2000.0
C  30.0    Male  3000.0
D   NaN    Male     NaN
======================

# 3 分组操作

随机生成十个样本数据

In [168]:
company_name = np.array(["A", "B", "C"])

# 生成 dataframe
data = pd.DataFrame(
    {
        "ID": np.arange(2000012510, 2000012520),
        "company": np.random.choice(company_name, size=10),
        "salary": np.random.randint(5, 50, size=10),
        "age": np.random.randint(15, 50, size=10),
    }
)

print(data)

           ID company  salary  age
0  2000012510       A       6   41
1  2000012511       A      27   40
2  2000012512       C      19   40
3  2000012513       B      21   16
4  2000012514       A      18   32
5  2000012515       C      25   44
6  2000012516       C      35   15
7  2000012517       B       5   19
8  2000012518       C      36   48
9  2000012519       C      24   43

## 3.1 Groupby 分组

`df.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, observed=False, **kwargs)`

- by: 指定分组依据，可以是列名、字典、Series、函数

- axis: 0-按行分组，1-按列分组

- level: 指定索引层级

- as_index: bool-是否以分组依据作为索引

- sort: bool-是否对分组依据进行排序

- group_keys: bool-是否显示分组依据

- squeeze: bool-是否压缩为 Series

- observed: bool-是否按照观察到的数据进行分组

In [169]:
grouped = data.groupby(by="company")
print(type(grouped))
print(list(grouped))
print("======================")
print(grouped.groups)

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
[('A',            ID company  salary  age
0  2000012510       A       6   41
1  2000012511       A      27   40
4  2000012514       A      18   32), ('B',            ID company  salary  age
3  2000012513       B      21   16
7  2000012517       B       5   19), ('C',            ID company  salary  age
2  2000012512       C      19   40
5  2000012515       C      25   44
6  2000012516       C      35   15
8  2000012518       C      36   48
9  2000012519       C      24   43)]
======================
{'A': [0, 1, 4], 'B': [3, 7], 'C': [2, 5, 6, 8, 9]}

## 3.2 Aggregation 聚合

`DataFrameGroupBy.agg({col_name:method})`

In [178]:
# 求不同公司的平均薪资、平均年龄
print("不同公司的平均状况")
print(grouped[["salary", "age"]].mean())
print("======================")

# 平均薪资和年龄中位数
print("平均薪资和年龄中位数")
result = grouped.agg({"salary": "mean", "age": "median"})
result.columns = ["salary_mean", "age_median"]
print(result)

不同公司的平均状况
         salary        age
company
A          17.0  37.666667
B          13.0  17.500000
C          27.8  38.000000
======================
平均薪资和年龄中位数
         salary_mean  age_median
company
A               17.0        40.0
B               13.0        17.5
C               27.8        43.0

## 3.3 Transformation 变换

应用场景：在原数据表中添加一列，该列的值是原数据表中某一列的聚合结果

e.g. 在原数据表中添加一列，该列的值是原数据表中 salary 的均值

In [191]:
# 不使用 transform 的方法
salary_mean = grouped["salary"].mean()
company2salary = salary_mean.to_dict()
print(company2salary)
print("======================")

data["salary_mean"] = data["company"].map(company2salary)
print(data)

{'A': 17.0, 'B': 13.0, 'C': 27.8}
======================
           ID company  salary  age  salary_mean
0  2000012510       A       6   41         17.0
1  2000012511       A      27   40         17.0
2  2000012512       C      19   40         27.8
3  2000012513       B      21   16         13.0
4  2000012514       A      18   32         17.0
5  2000012515       C      25   44         27.8
6  2000012516       C      35   15         27.8
7  2000012517       B       5   19         13.0
8  2000012518       C      36   48         27.8
9  2000012519       C      24   43         27.8

In [190]:
# 使用 transform 的方法
data_copy = data.copy()
data_copy["salary_mean"] = grouped["salary"].transform("mean")
print(data_copy)

           ID company  salary  age  salary_mean
0  2000012510       A       6   41         17.0
1  2000012511       A      27   40         17.0
2  2000012512       C      19   40         27.8
3  2000012513       B      21   16         13.0
4  2000012514       A      18   32         17.0
5  2000012515       C      25   44         27.8
6  2000012516       C      35   15         27.8
7  2000012517       B       5   19         13.0
8  2000012518       C      36   48         27.8
9  2000012519       C      24   43         27.8

## 3.4 Apply 应用

自行编写函数，函数的参数应该是分完组以后的每个组的 dataframe ，对分组后的数据进行操作

apply() 调用自定义函数的时候，一定不要写()

e.g. 要获取每个公司年龄最大的员工的信息

In [193]:
def get_oldest_staff(df):
    return df.loc[df["age"] == df["age"].max()]


print("年龄最大的员工")
print(grouped.apply(get_oldest_staff))

年龄最大的员工
                   ID company  salary  age  salary_mean
company
A       0  2000012510       A       6   41         17.0
B       7  2000012517       B       5   19         13.0
C       8  2000012518       C      36   48         27.8

# 4 数据合并

`pd.merge(left, right, how='inner/outer/left/right', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)`

- left: 左表

- right: 右表

- how: inner-内连接，outer-外连接，left-左连接，right-右连接

- on: 指定连接的列名，必须同时存在于左右两表中

- left_on: 指定左表连接的列名

- right_on: 指定右表连接的列名

- left_index: bool-是否以左表的索引作为连接键

- right_index: bool-是否以右表的索引作为连接键

- sort: bool-是否对连接后的数据进行排序

- suffixes: list-指定重叠列名的后缀

- copy: bool-是否复制数据

- indicator: bool-是否添加特殊列，用于指示该行数据来自哪个表

- validate: str-检查连接类型

In [204]:
# 用户年龄
user_age = pd.DataFrame(
    {
        "user_id": ["a", "b", "c", "d"],
        "age": np.random.randint(15, 50, size=4),
    }
)
print("用户年龄")
print(user_age)
print("======================")

# 用户消费
user_consume = pd.DataFrame(
    {"user_id": ["a", "c", "e", "a"], "consume": [100, 200, 300, 400]}
)
print("用户消费")
print(user_consume)

用户年龄
  user_id  age
0       a   47
1       b   23
2       c   18
3       d   37
======================
用户消费
  user_id  consume
0       a      100
1       c      200
2       e      300
3       a      400

In [213]:
# 连接这两个表的键是 "user_id"


# inner 内连接，取交集
print("内连接")
new_df = pd.merge(user_age, user_consume, on="user_id", how="inner")
print(new_df)
print("======================")


# outer 外连接，取并集
print("外连接")
new_df = pd.merge(user_age, user_consume, on="user_id", how="outer")
print(new_df)
print("======================")


# left 左连接，以左边的表为基准
print("左连接")
new_df = pd.merge(user_age, user_consume, on="user_id", how="left")
print(new_df)
print("======================")


# right 右连接，以右边的表为基准
print("右连接")
new_df = pd.merge(user_age, user_consume, on="user_id", how="right",sort=True)
print(new_df)
print("======================")

内连接
  user_id  age  consume
0       a   47      100
1       a   47      400
2       c   18      200
======================
外连接
  user_id   age  consume
0       a  47.0    100.0
1       a  47.0    400.0
2       b  23.0      NaN
3       c  18.0    200.0
4       d  37.0      NaN
5       e   NaN    300.0
======================
左连接
  user_id  age  consume
0       a   47    100.0
1       a   47    400.0
2       b   23      NaN
3       c   18    200.0
4       d   37      NaN
======================
右连接
  user_id   age  consume
0       a  47.0      100
1       a  47.0      400
2       c  18.0      200
3       e   NaN      300
======================

# 5 数据去重
`df.drop_duplicates(subset=None, keep='first/last', inplace=False, ignore_index=False)`
- subset: 指定去重的列名

- keep: first-保留第一次出现的重复数据，last-保留最后一次出现的重复数据

- inplace: bool-是否替换原数据

- ignore_index: bool-是否重置索引